---
import TextUnderline from "./TextUnderline.astro";

import image1 from "../assets/img/01.webp";
import image2 from "../assets/img/02.webp";
import image3 from "../assets/img/03.webp";
import image4 from "../assets/img/04.webp";

const services = [
  "Talleres",
  "Charlas",
  "Cooaching grupal e individual",
  "Neurofeedback",
  "Hunting profesional",
];
---

<script>
  import { animateSvgUnderlineOnce } from "../assets/animate.js";

  animateSvgUnderlineOnce([
    { selector: "#underline5", delay: 0 },
    { selector: "#underline6", delay: 0.4 },
  ]);
</script>

<section id="about" class="bg-hp-200 px-4 py-6 | lg:px-0 lg:py-24">
  <div class="container mx-auto">
    <div class="grid | lg:grid-cols-7 lg:gap-18 lg:items-center">
      <!-- Image -->
      <div class="md:col-span-3 grid grid-cols-2 grid-rows-2 gap-3">
        <img
          src={image1.src}
          alt="hap"
          class="w-full rounded object-cover h-[100px] lg:h-[200px]"
        />
        <img
          src={image2.src}
          alt="hap"
          class="w-full rounded object-cover h-[100px] lg:h-[200px]"
        />
        <img
          src={image3.src}
          alt="hap"
          class="w-full rounded object-cover h-[100px] lg:h-[200px]"
        />
        <img
          src={image4.src}
          alt="hap"
          class="w-full rounded object-cover h-[100px] lg:h-[200px]"
        />
      </div>
      <!-- Content -->
      <div class="md:col-span-4 mt-9 | lg:mt-0">
        <!-- subtitle -->
        <h5 class="text-deeplum text-xl font-medium leading-none | lg:text-2xl">
          <span class="text-sunset mr-2">✱</span>Bienestar es la nueva lovemark:
          emociones que fidelizan.
        </h5>

        <!-- title -->
        <h2
          class="text-3xl font-semibold text-sunset font-display my-4 | lg:text-5xl lg:my-9 lg:leading-13"
        >
          ¡Somos tu <TextUnderline
            text="partner"
            id="underline5"
            color="deeplum"
            width="5"
          /> en <TextUnderline
            text="Felicidad"
            id="underline6"
            color="deeplum"
            width="5"
          /> corporativa!
        </h2>
        <!-- Text -->
        <p class="text-deeplum">
          Con más de 20 años de experiencia como ingenieros comerciales en
          administración, gestión de recursos humanos y docencia, somos
          conscientes del enorme poder de la felicidad y el bienestar en el
          universo corporativo.
        </p>
        <p class="my-3 text-deeplum">
          Desarrollamos estrategias para mantener altos niveles de felicidad en
          los colaboradores de una organización, así como también, atraer y
          retener el talento mediante estrategias enfocadas desde el bienestar.
        </p>
        <!-- Button -->
        <a class="btn btn-deeplum inline-block mt-6" href="/somos">Saber Más</a>
        <!-- List -->
        <ul
          class="flex flex-wrap text-lg gap-3 mt-6 text-deeplum font-semibold"
        >
          {
            services.map((item) => (
              <li>
                <a
                  target="_blank"
                  href="mailto:contacto@happypartners.cl"
                  class="block border-3 rounded-full py-2 px-6 border-mango transition | hover:bg-mango hover:text-amber-50"
                >
                  {item}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  #about {
    background-image: url(../assets/bg_about_alt.webp);
  }
</style>
